<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link href="main.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <p>{{ message }}</p>
      <input v-model="message" />
      <input v-model.number="count" />
      <ol>
        <li v-for="item in list">{{ item }}</li>
      </ol>
      <button v-on:click="handleClick">click</button>
      <br />
      <button v-on:click="show =! show">변경하기</button>
      <transition>
        <p v-if="show">Show is TRUE!</p>
      </transition>
    </div>
    <div id="app-7">
      <ol>
        <!--
          produce todo objects to each todo-item
          each contents can be change dynamicly
          also needs key for each elements
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
